@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;700;900&display=swap');

html, body {
  background: #1e1e20;
  font-family: 'Mulish', sans-serif;
  font-size: 18px ;

  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;

  --color-primary: #0062bd;
}

input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;

  color: white;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
