.fade-out {
  animation-name: fade-out;
  animation-duration: 400ms;
}

@keyframes fade-out {
  0% {
    filter: opacity(1);
    transform: translateY(0);
  }
  100% {
    filter: opacity(0);
    transform: translateY(10%);
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 400ms;
}

@keyframes fade-in {
  0% {
    filter: opacity(0);
    transform: translateY(-10%);
  }
  100% {
    filter: opacity(1);
    transform: translateY(0);
  }
}

.smooth-out {
  animation-name: smooth-out;
  animation-duration: 400ms;
}

@keyframes smooth-out {
  0% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(0);
  }
}

.smooth-in {
  animation-name: smooth-in;
  animation-duration: 400ms;
}

@keyframes smooth-in {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
